<div class="row" *ngIf="message!=''">
  <div class="col-md-12">
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2">UserName</div>
  <div class="col-md-10"><input [(ngModel)]="loginModel.userName" type="text"></div>
</div>
<div class="row">
  <div class="col-md-2">Password</div>
  <div class="col-md-10"><input [(ngModel)]="loginModel.password" type="password"></div>
</div>
<div class="row">
  <div class="col-md-12"><button class="btn btn-success btn-sm" (click)="onSubmitClick()">Submit</button></div>
</div>
